p
{
    color: red;
}

table
{
    border-color: black;
    border-width: 3px;
}

td
{
    background-color: green;
    color: black;
    text-align: center;
    width: 20px;
}

th
{
    background-color: rgb(109, 109, 221);
    text-align: center;
    width: 20px;
}