input
{
    color: #673AB7;
}

div
{
    color: #673AB7;
}

p
{
    color: red;
}

table
{
    border-style: double;
    border-color: black;
    border-width: 3px;
}

td
{
    border-style: groove;
    background-color: rgb(140, 207, 140);
    color: black;
    text-align: center;
}

th
{
    border-style: groove;
    background-color: rgb(109, 109, 221);
    text-align: center;
}